@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "./popper.css";
@import "./material-icons-recommendations.css";
@import "./variables.css";

* {
  box-sizing: border-box;
}

html {
  color: var(--text-color, white);
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color, white);
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: whitesmoke;
}
