@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "./variables.css";

* {
  box-sizing: border-box;
}

html {
  color: var(--text-color, white);
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color, white);
}

/*

  Material icons sizes setup according to documentation.

*/

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/*

  Popper arrow setup

*/

#arrow,
#arrow::before {
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--side-menu);
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^="top"] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^="bottom"] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^="left"] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^="right"] > #arrow {
  left: -4px;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: whitesmoke;
}
