/*
  Popper arrow setup
*/

#arrow,
#arrow::before {
  position: absolute;
  width: 7px;
  height: 7px;
  background: var(--side-menu-popover-bg-color);
  border-left: 1px solid var(--side-menu-popover-border);
  border-bottom: 1px solid var(--side-menu-popover-border);
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^="top"] > #arrow {
  bottom: -5px;
}

#tooltip[data-popper-placement^="bottom"] > #arrow {
  top: -5px;
}

#tooltip[data-popper-placement^="left"] > #arrow {
  right: -5px;
}

#tooltip[data-popper-placement^="right"] > #arrow {
  left: -5px;
}
