:root {
  --bg-color: #1e1e1e;

  --text-color: #cccccc;

  --primary-color: #007acc;
  --primary-color-dark: #0186d0;

  --nav-menu: #414141;
  --nav-menu-item-hover: #094771;
  --nav-menu-height: 1.8rem;

  --top-explorer-height: 2.25rem;
  --top-explorer-bg-color: #252526;
  --top-explorer-tile-bg-color: #2d2d2d;
  --top-explorer-tile-active-bg-color: #1e1e1e;
  --top-explorer-tile-close-color: #9a9b8e;
  --top-explorer-tile-close-hover-bg-color: #3b3c3c;

  --side-menu: #333333;
  --side-menu-open: #252526;
  --side-menu-item-hover: #2a2d2e;
  --side-menu-item-active: #37373d;
  --side-menu-popover-bg-color: #252525;
  --side-menu-popover-border: #474747;

  --scrollbar-width: 15px;
  --scrollbar-bg-color: #464646;
  --scrollbar-bg-color-hover: #4f4f4f;

  --footer-height: 1.4rem;
}
